<%- include("header"); -%>

<div class="box-double">

  <div class="content-group">
    <div class="box heading-box">
      <h1>Choose a List</h1>
    </div>

    <div class="box">
      <% existingLists.forEach(function(existingListItem){ %>
          <a href="/<%= existingListItem.name %>">
            <div class="item">
              <p><%= existingListItem.name %></p>
            </div>
          </a>
          <input type="hidden" name="listTitle" value="<%= existingListItem.name %>"></<input>
    <% }); %>
    </div>
  </div>

  <div class="content-group">
    <div class="box heading-box">
      <h1>Create a New List</h1>
    </div>
    <div class="box">
      <form class="item item-form" action="/welcome" method="post">
        <input type="text" name="newListTitle" value="" placeholder="Insert List Name" autocomplete="off" autofocus>
        <button class="create" type="submit" name="button">Create</button>
      </form>
    </div>
  </div>

</div>


<%- include("footer"); -%>
